@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

button,
a,
input,
select,
textarea {
  @apply focus:ring focus:ring-alert-inform;
}
